# Ignore Python virtual environments
.venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore data files
*.csv
*.xlsx
*.png
*.json

# Ignore local backups
old/

# Ignore IDE-specific files
.vscode/
.idea/